/* Importação de fonte */
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* Configurações gerais da página */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
    font-size: 16px;
}

/* Confiuração geral sidebar */
.sidebar {
    display: flex;
    flex-direction: column;

    gap: 30px;
    padding: 30px;

    height: 100vh;
    width: 400px;

    background-color: #21308f;
}

/* Configurações seção cadastro */
.secao-cadastro {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.secao-cadastro h2 {
    color: #fef900;
    text-transform: uppercase;
    font-weight: 500;
}

.produto {
    display: flex;
    align-items: center;
    gap: 10px;
}

.produto a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.cliente {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cliente a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.fornecedor {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fornecedor a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* Barra horizontal entre seções */
.barra-horizontal {
    height: 1px;
    background-color: #fef900;
}


/* Configurações seção pedido */
.secao-pedido {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.secao-pedido h2 {
    color: #fef900;
    text-transform: uppercase;
    font-weight: 500;
}

.pedido-compra {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pedido-compra a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.pedido-venda {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pedido-venda a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}