/* Importação de fonte */
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* Configurações gerais da página */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
    font-size: 16px;

    display: flex;
}

/* ========================================================================================================================= */

/* Confiuração geral sidebar */
.sidebar {
    display: flex;
    flex-direction: column;

    margin: 5px;
    gap: 30px;
    padding: 30px;

    height: 100vh;
    width: 400px;

    background-color: #21308f;

    border-radius: 10px;
}

/* Configurações seção geral*/
.secao-geral {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.secao-geral h2 {
    color: #fef900;
    text-transform: uppercase;
    font-weight: 500;
}

.dashboard {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* Configurações seção cadastro */
.secao-cadastro {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.secao-cadastro h2 {
    color: #fef900;
    text-transform: uppercase;
    font-weight: 500;
}

.produto {
    display: flex;
    align-items: center;
    gap: 10px;
}

.produto a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.cliente {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cliente a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.fornecedor {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fornecedor a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* Barra horizontal entre seções */
.barra-horizontal {
    height: 1px;
    background-color: #fef900;
}


/* Configurações seção pedido */
.secao-pedido {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.secao-pedido h2 {
    color: #fef900;
    text-transform: uppercase;
    font-weight: 500;
}

.pedido-compra {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pedido-compra a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.pedido-venda {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pedido-venda a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* ========================================================================================================================= */

/* Seção Principal*/
main {
    display: flex;
    align-items: center;
    flex-direction: column;

    flex: 1;
}

/* Título Seção Cadastro */
.titulo-cadastro {
    margin-top: 10px;
}

.titulo-cadastro h2 {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 500;

    color: #21308f;
}

/* Configurações de Cadastro */
.campo-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    padding: 30px;
    margin: 5px;
}

form {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 10px;
}

/* Seções */
.primeira-secao {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 10px;
}

.segunda-secao {
    display: flex;

    width: 100%;
    gap: 10px;
}

.terceira-secao {
    display: flex;

    width: 100%;
    gap: 10px;
}

/* Produto */
.campo-produto {
    display: flex;
    flex-direction: column;

    gap: 5px;
    flex: 1;
}

.campo-produto input {
    font-family: inherit;

    height: 40px;
    width: 100%;
    

    padding: 5px;

    border: 1px solid #e8e6e6;
    border-radius: 10px;
    background-color: #fcfcfc;
}

/* Campo Descrição */
.campo-descricao {
    display: flex;
    flex-direction: column;
    
    gap: 5px;
    flex: 1;
}

.campo-descricao input {
    font-family: inherit;

    height: 40px;
    width: 100%;

    padding: 5px;

    border: 1px solid #e8e6e6;
    border-radius: 10px;
    background-color: #fcfcfc;
}

/* Campo Categoria */
.campo-categoria {
    display: flex;
    flex-direction: column;
    
    gap: 5px;
    flex: 1;
}

.campo-categoria select {
    font-family: inherit;

    height: 40px;
    width: 100%;

    padding: 5px;

    border: 1px solid #e8e6e6;
    border-radius: 10px;
    background-color: #fcfcfc;
}

/* Campo Unidade Medida */
.campo-unidade-medida {
    display: flex;
    flex-direction: column;
    
    gap: 5px;
    flex: 1;
}

.campo-unidade-medida select {
    font-family: inherit;

    height: 40px;
    width: 100%;

    padding: 5px;

    border: 1px solid #e8e6e6;
    border-radius: 10px;
    background-color: #fcfcfc;
}

/* Campo Preco Custo */
.campo-preco-custo {
    display: flex;
    flex-direction: column;
    
    gap: 5px;
    flex: 1;
}

.campo-preco-custo input {
    font-family: inherit;

    height: 40px;
    width: 100%;

    padding: 5px;

    border: 1px solid #e8e6e6;
    border-radius: 10px;
    background-color: #fcfcfc;
}

/* Campo Preco Venda */
.campo-preco-venda {
    display: flex;
    flex-direction: column;
    
    gap: 5px;
    flex: 1;
}

.campo-preco-venda input {
    font-family: inherit;

    height: 40px;
    width: 100%;

    padding: 5px;

    border: 1px solid #e8e6e6;
    border-radius: 10px;
    background-color: #fcfcfc;
}

/* Campo Estoque Minimo */
.campo-estoque-minimo {
    display: flex;
    flex-direction: column;
    
    gap: 5px;
    flex: 1;
}

.campo-estoque-minimo input {
    font-family: inherit;

    height: 40px;
    width: 100%;

    padding: 5px;

    border: 1px solid #e8e6e6;
    border-radius: 10px;
    background-color: #fcfcfc;
}

/* Campo Botões */
.campo-botoes {
    display: flex;

    margin-top: 10px;
    gap: 10px;
}

.campo-botoes button {
    font-family: inherit;

    height: 40px;
    width: 100px;

    border: 1px solid #e8e6e6;
    border-radius: 10px;

    text-transform: uppercase;
}

.btn-cadastrar {
    color: white;
    background-color: #21308f;
}

.btn-cadastrar:hover {
    background-color: #2640e0;
    cursor: pointer;
}

.btn-limpar {
    background-color: #fef900;
}

.btn-limpar:hover {
    background-color: #f5f122;
    cursor: pointer;
}

/* ========================================================================================================================= */

/* Título Seção Grid Cadastro*/
.titulo-grid {
    margin-top: 10px;
}

.titulo-grid h2 {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 500;

    color: #21308f;
}